<h1 class="mb-1 restaurant-show-title">編輯餐廳</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants/{{restaurant._id}}/edit" method="POST">
        <div class="form-group">
          <label for="name">餐廳名稱</label>
          <input type="text" class="form-control" id="name" name="name" aria-describedby="restaurantName"
            placeholder="請輸入餐廳名稱…" value="{{restaurant.name}}" required>
        </div>
        <div class="form-group">
          <label for="name_en">餐廳英文名稱</label>
          <input type="text" class="form-control" id="name_en" name="name_en" aria-describedby="restaurantEnglishName"
            placeholder="請輸入餐廳英文名稱…" value="{{restaurant.name_en}}" nrequired>
        </div>
        <div class="form-group">
          <label for="category">分類</label>
          <input type="text" class="form-control" id="category" name="category" aria-describedby="restaurantCategory"
            placeholder="請輸入餐廳分類…" value="{{restaurant.category}}" nrequired>
        </div>
        <div class="form-group">
          <label for="image">圖片連結</label>
          <input type="text" class="form-control" id="image" name="image" aria-describedby="restaurantImage"
            placeholder="請輸入圖片連結…" value="{{restaurant.image}}" required>
        </div>
        <div class="form-group">
          <label for="location">地址</label>
          <input type="text" class="form-control" id="location" name="location" aria-describedby="restaurantLocation"
            placeholder="請輸入餐廳地址…" value="{{restaurant.location}}" required>
        </div>
        <div class="form-group">
          <label for="phone">電話</label>
          <input type="text" class="form-control" id="phone" name="phone" aria-describedby="restaurantPhone"
            placeholder="請輸入餐廳電話…" value="{{restaurant.phone}}" required>
        </div>
        <div class="form-group">
          <label for="google_map">Google地圖連結</label>
          <input type="text" class="form-control" id="google_map" name="google_map"
            aria-describedby="restaurantGoogleMap" placeholder="請輸入Google地圖連結…" value="{{restaurant.google_map}}"
            required>
        </div>
        <div class="form-group">
          <label for="rating">餐廳評分</label>
          <input type="number" class="form-control" id="rating" name="rating" aria-describedby="restaurantRating"
            placeholder="請輸入餐廳評分…" value="{{restaurant.rating}}" required>
        </div>
        <div class="form-group">
          <label for="description" rows="3">餐廳介紹</label>
          <textarea class="form-control" id="description" name="description" aria-describedby="restaurantDescription"
            placeholder="請輸入餐廳介紹…" required>{{restaurant.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-major">儲存</button>
      </form>
    </div>
  </div>
</div>